// sidebar
@media (min-width: 66.5rem) {
    .side-bar {
        width: 15%;
        min-width: 280px;
    }
    
    .side-bar + .main {
        margin-left: 280px;
    }

    .site-nav, .site-header, .site-footer {
        width: 100%;
    }
}

@media (min-width: 50rem) {
    .main {
        position: relative;
        max-width: 100%;
    }
}

// table
.table-wrapper{
    border-radius: 0px;
}

table {
    border-collapse: collapse; 
    width: 100%; 
}

table, th, td {
    border: 1px solid #ddd; 
}

// TOC float
@media (min-width: 1201px) {
    .toc-float {
        position: fixed;
        top: 100px; 
        right: 20px;
        width: 250px;
        max-height: 80vh; 
        overflow-y: auto; 
        padding: 10px;
        background-color: #f5f6fa; 
        border: 1px solid #eeebee;
        border-radius: 4px;
    }

    .toc-float ol:before {
        content: "Sur cette page";
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em; 
        font-size: 0.75rem !important;
    }

    .main-content {
        margin-right: 280px;
    }
}

@media (max-width: 1200px) {
    .toc-float {
        display: none;
    }
}