// Ajuster la largeur de la barre latérale
.side-bar {
  width: 15%;
  min-width: 200px;
}

// Ajuster la largeur du contenu pour prendre toute la largeur disponible
.main-content {
  width: 85%;
  margin-left: 5%;
}

@media (max-width: 768px) {
  .side-bar {
    display: none;
  }

  .main-content {
    width: 100%;
    margin-left: 0;
  }
} 
